{% extends "layout_admin.html" %}
{% block title %}
Informatics Bot
{% endblock %}
{% block body %}
<!-- {% for message in get_flashed_messages() %}
                        <script>alert("{{ message }}");</script>
                        {% endfor %} -->
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        {% if session.username %}
                        Logged in as <h2>{{ session.username }}</h2>
                        {% else %}
                        <h2>Tidak Ada Sesi</h2>
                        <meta http-equiv="refresh" content="0; {{ url_for('login') }}" />
                        <script>alert("Anda belum login!");</script>
                        
                        {% endif %}
                    </div>
                    <div>
                        <h2><a href="{{ url_for('showIndex') }}"
                        class="zmdi zmdi-home back"></a>
                        {% if not session.username %}
                        <!-- <a href="{{ url_for('register') }}" class="zmdi zmdi-account-add back"></a> -->
                        <a href="{{ url_for('login') }}" class="zmdi zmdi-account back"></a>
                        {% else %}
                        <a href="{{ url_for('logout') }}"
                        class="zmdi zmdi-power back"></a>
                        {% endif %}
                        </h2>
                        <!-- <a href="{{ url_for('showIndex') }}">Home</a> -->

                    </div>
                </div>
            </div>
            <br>
            <div class="container_admin">
                <div class="signup-content">
                    <div class="admin_table">
                        <div class="card-header">
                            <h3>
                                User Control
                            </h3>
                            <i class="fas fa-ellipsis-h"></i>
                        </div>
                        <div class="card-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Lengkap</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Telegram ID</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Diaz Ardian</td>
                                        <td>admin@admin.com</td>
                                        <td>diazardian</td>
                                        <td>ddrdn</td>
                                        <td>Unverified</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{ self.footer() }}
        </section> 
    </div>
{% endblock %}