{% extends "layout_admin.html" %}
{% block title %}
Informatics Bot
{% endblock %}
{% block body %}
<!-- {% for message in get_flashed_messages() %}
                        <script>alert("{{ message }}");</script>
                        {% endfor %} -->
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        {% if session.username %}
                        Logged in as <a href="{{ url_for('dashboard') }}"><h2>{{ session.username }}</h2></a>
                        <h1>{{ local }}</h1>
                        {% else %}
                        <h2>Tidak Ada Sesi</h2>
                        <meta http-equiv="refresh" content="0; {{ url_for('login') }}" />
                        <script>alert("Anda belum login!");</script>
                        
                        {% endif %}
                    </div>
                    <div>
                        <h2><a href="{{ url_for('showIndex') }}"
                        class="zmdi zmdi-home back"></a>
                        {% if not session.username %}
                        <!-- <a href="{{ url_for('register') }}" class="zmdi zmdi-account-add back"></a> -->
                        <a href="{{ url_for('login') }}" class="zmdi zmdi-account back"></a>
                        {% else %}
                        <a href="{{ url_for('logout') }}"
                        class="zmdi zmdi-power back"></a>
                        
                        </h2>
                        <!-- <a href="{{ url_for('showIndex') }}">Home</a> -->

                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="cards-list">
                    <a class="card 1" href="{{ url_for('user') }}">
                        <div>
                            <h1 class="card_title">User Telegram</h1>
                        </div>
                    </a>
                    <a class="card 2" href="{{ url_for('loging') }}">
                        <div>
                        <h1 class="card_title">Log Query</h1>
                        </div>
                    </a>
                </div>
                <div class="cards-list">
                    <a class="card 1" href="{{ url_for('ruang_sidang') }}">
                        <div>
                            <h1 class="card_title">Ruang Sidang</h1>
                        </div>
                    </a>
                    <a class="card 2" href="{{ url_for('ruang_kelas') }}">
                        <div>
                        <h1 class="card_title">Ruang Kelas</h1>
                        </div>
                    </a>
                </div>
            </div>
        </section> 
    </div>
    {% endif %}
{% endblock %}