{% extends "layout_admin.html" %}
{% block title %}
Informatics Bot
{% endblock %}
{% block body %}
<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    {% if session.username %}
                    Logged in as <h2><a class="zmdi zmdi-arrow-left back" href="{{ url_for('dashboard') }}"></a>{{ session.username }}</h2>
                    <h1>{{ local }}</h1>
                    {% else %}
                    <h2>Tidak Ada Sesi</h2>
                    <meta http-equiv="refresh" content="0; {{ url_for('login') }}" />
                    <script>alert("Anda belum login!");</script>
                    
                    {% endif %}
                </div>
                <div>
                    <h2><a href="{{ url_for('showIndex') }}"
                    class="zmdi zmdi-home back"></a>
                    {% if not session.username %}
                    <!-- <a href="{{ url_for('register') }}" class="zmdi zmdi-account-add back"></a> -->
                    <a href="{{ url_for('login') }}" class="zmdi zmdi-account back"></a>
                    {% else %}
                    <a href="{{ url_for('logout') }}"
                    class="zmdi zmdi-power back"></a>
                    {% endif %}
                    </h2>
                    <!-- <a href="{{ url_for('showIndex') }}">Home</a> -->

                </div>
            </div>
        </div>
        <br>
        <div class="container_admin_wx">
            <div class="signup-content">
                <div class="admin_table">
                    <div class="card-header">
                        <h3>
                            Jadwal atau Ruang Kelas Pengganti
                        </h3>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <div class="card-content">
                        <table class="tabbedTable">
                            <thead>
                                <tr>
                                    <th>Kelas</th>
                                    <th>Matkul</th>
                                    <th></th>
                                    <th>Ruang</th>
                                    <th>Hari</th>
                                    <th>Jam</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in ruang %}
                                <tr>
                                    <td>{{ data.kelas }}</td>
                                    <td>{{ data.matkul }}</td>
                                    <td>Diganti ke -></td>
                                    <td>{{ data.ruang }}</td>
                                    <td>{{ data.hari }}</td>
                                    <td>{{ data.jam }}</td>
                                    {% if data.status == 'history' %}
                                        <td>Dihapus/Expired</td>
                                    {% else %}
                                        <td>aktif</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</div>
{% endblock %}